* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(9 9 52);
}

header {
    background-color: #f0bfcf;
    padding: 20px;
}

header>h1 {
    color: black;
    font-size: 50px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.score-board {
    border: 3px solid white;
    border-radius: 5px;
    width: 230px;
    margin: 20px auto;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    text-align: center;
    padding: 15px 20px;
    position: relative;

}

.badge {
    background-color: rgb(201, 23, 23);
    color: white;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    padding: 2px 14px;
}

#user-lebel {
    position: absolute;
    top: 4px;
    left: -109px;
}

#computer-lebel {
    position: absolute;
    top: 4px;
    right: -152px;
}

#user-image {
    position: absolute;
    top: 39px;
    left: -110px;
}

#comp-image{
    position: absolute;
    top: 32px;
    left: 266px;
}

.result {
    font-size: 50px;
    color: white;
}

.result p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.choices{
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex: 1;
}
.choice{
    
    border: 5px solid darkturquoise;
    border-radius: 50%;
    padding: 20px;
    margin:0 20px;
    background-color: goldenrod;
}
.choice:hover{
    cursor: pointer;
    background-color: rgb(180, 133, 15);
}
#action{
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 23px;
    margin-top: 30px;
}

.green-glow{
    border: 4px solid rgb(2, 163, 2);
    box-shadow: 0 0 10px darkgreen;
}

.red-glow{
    border: 4px solid rgb(236, 3, 3);
    box-shadow: 0 0 10px darkred;
}

.gray-glow{
    border: 4px solid rgb(148, 148, 148);
    box-shadow: 0 0 10px darkgray;
}
